# Natural Language Processing

### Importamos las librerias necesarias

In [4]:
import openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import glob
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

### Leemos los archivos csv descargados de pinterest

In [7]:
csv = glob.glob('/*.csv')


lista = []

for archivo in csv:
    datos = pd.read_csv(archivo)
    lista.append(datos)

lista

#df = pd.concat(lista)

[]

[]

#### Analizamos que tipo de datos contienen los Dataframe

In [19]:
df.rename(columns={'pin_id':'id','comment':'comentarios'}, inplace=True)#.head(3)
df.head(3)

   Unnamed: 0                  id  ... follower_count locale
0           0                   0  ...              0    NaN
1           1   64176363427732084  ...        2797258  en-US
2           2  100205160447059706  ...              0    NaN

[3 rows x 9 columns]

In [20]:
df.dtypes

Unnamed: 0         int64
id                 int64
userId            object
domain            object
img_Url           object
comentarios       object
created_at        object
follower_count     int64
locale            object
dtype: object

In [ ]:
df.count()

Unnamed: 0        5192
id                5192
userId            5187
domain            5187
img_Url           5187
comentarios       5187
created_at        5188
follower_count    5192
locale            4220
dtype: int64

#### Seleccionamos las columnas de nuestro interés

In [21]:
df.loc[:,["id","comentarios"]]

                     id                                        comentarios
0                     0                                                NaN
1     64176363427732084
2    100205160447059706
3    300052393923723565  Este moderno traje de baño: | 39 Productos par...
4      1125968643728748            Resultado de imagen para swimsuitS 2016
..                  ...                                                ...
913  575334921145674455          Black ruffle Madison swimsuit by Rad Swim
914  423408802461251602  Time to update your wardrobe~ From seaside to ...
915  318207529930791095  Size:XL;Color:Cyan;Size:L;Size:M;Size:XXL;Size...
916  250372060519000334  UO Amber Button-Down Linen Midi Dress | Urban ...
917  401313016794583739  Mara Hoffman Supernova Jacquard Swimsuit - Bla...

[5192 rows x 2 columns]

### Transformamos a NaN los espacios en blanco que teniamos en nuestros csv

In [22]:
df.dropna(axis=0, subset=["comentarios"])
df["comentarios"] = df["comentarios"].replace(' ', np.nan, inplace=False)

### Muestra de los tres primeros pines del df1

In [ ]:
df.head()

,contador,id,comentarios
0,5,1002613935763564396,Brand Name: COZOKMaterial: PolyesterOrigin: CN...
1,17,207939707785742035,Outfit para la playa con sombrero de playa 2020
2,18,313915036529600169,white tie up monokini swimsuits 2020 one piece...
3,19,584553226628630563,New swimsuit 2020 ladies cherry printed pleate...
4,29,18929260928078410,Eres una chica muy Bonita y multimillonaria. E...

### Eliminamos los pines con comentarios NaN

In [23]:
df = df.dropna(axis=0, subset=["comentarios"])
df = df[["id","comentarios"]].reset_index()
df.rename(columns={"index":"contador"},inplace=True)

In [ ]:
df

,contador,id,comentarios
0,5,1002613935763564396,Brand Name: COZOKMaterial: PolyesterOrigin: CN...
1,17,207939707785742035,Outfit para la playa con sombrero de playa 2020
2,18,313915036529600169,white tie up monokini swimsuits 2020 one piece...
3,19,584553226628630563,New swimsuit 2020 ladies cherry printed pleate...
4,29,18929260928078410,Eres una chica muy Bonita y multimillonaria. E...
...,...,...,...
2995,1061,356347389242841750,Boss Bikini
2996,1062,459578336970505335,sport geometric one piece swimsuit
2997,1063,296956169188921001,Nao Kanzaki and a few friends: Sakura Miyawaki...
2998,1064,505669864390407041,Lace Romper Cover Up
2999,1065,270990102556757533,Encyclopaedia halter neck swimsuit

In [ ]:
df.count()

contador       3000
id             3000
comentarios    3000
dtype: int64

In [64]:
df['minusculas'] = df['comentarios'].apply(lambda x: ' '.join(word.lower() for word in str(x).split()))
df['Cleaned'] = df['minusculas'].str.replace('[^\w\s]', '')
#buscar expresion regular para numeros con porcentaje
df['Cleaned'] = df['minusculas'].str.replace('[^\w\s]', '')

### Seleccionamos el comentario del pin que queremos Tokenizar

In [ ]:
#df_comentarios = df.iloc[df1.index.get_loc(3),2]
#df_comentarios

In [38]:
Reviews_noStopWords = []

for i in range(len(df)):
    
    review = str(df['comentarios'][i])
    review = review
    review = review.lower()
    
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(review)
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    filtered_sentence = []
 
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    
    Reviews_noStopWords.append(filtered_sentence)

In [58]:
#df['No_Stop_Words:Tokens'] = 
#df['Lowercase'] = df['text'].apply(lambda x: ' '.join(word.lower() for word in str(x).split()))

AttributeError: ignored

In [56]:
"""
for i in range(len(df)): 
    text_list = df['No_Stop_Words:Tokens'][i]
    #text_list = df_main.loc[:, ('No_Stop_Words:Tokens', i)]
    blank = ''
    for word in text_list:
        blank = blank+' '+word
    # df_main['No_Stop_Words:Sentence'][i] = blank
    df.loc[:, ('No_Stop_Words:Sentence', i)] = blank
  """

"\nfor i in range(len(df)): \n    text_list = df['No_Stop_Words:Tokens'][i]\n    #text_list = df_main.loc[:, ('No_Stop_Words:Tokens', i)]\n    blank = ''\n    for word in text_list:\n        blank = blank+' '+word\n    # df_main['No_Stop_Words:Sentence'][i] = blank\n    df.loc[:, ('No_Stop_Words:Sentence', i)] = blank\n  "

### Tokenizamos el comentario y lo filtramos

In [28]:
#import nltk
#nltk.download('stopwords')
#nltk.download('punkt')

stop_words = set(stopwords.words('english'))
word_tokens = word_tokenize(df_comentarios)

filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
 
filtered_sentence = []
 
for w in word_tokens:
    if w not in stop_words:
        filtered_sentence.append(w)

print(word_tokens)
print('''
**FILTRADO**
''')
print(filtered_sentence)

['David', 'Koma', 'at', 'London', 'Fall', '2016', '(', 'Details', ')']

**FILTRADO**

['David', 'Koma', 'London', 'Fall', '2016', '(', 'Details', ')']

In [29]:
listaColores = ['BLUE' , 'YELLOW', 'GREEN']